.container {
    display: flex;
    padding: 20px 0;
}

.navBar {
    width: 460px;
    background-color: lavenderblush;
    display: flex;
    justify-content: space-around;
    align-items: center;

    a {
        text-decoration: none;
        font-weight: bold;
        color: slategray;
        padding: 2px;
        width: 80px;
        text-align: center;
    }

    a:hover {
        color: turquoise;
    }
}


.brand {
    color: tomato;
    cursor: pointer;
    margin-right: auto;
}

.is-active {
    color: tomato !important;
}